@keyframes svelte-1ocmf05-cursorFade{0%,to{opacity:1}50%{opacity:0}}.typewriter-container.svelte-1ocmf05>*:not(.typing):not(.finished-typing){display:none}.typewriter-container.svelte-1ocmf05 .finished-typing:after{content:none}.cursor.svelte-1ocmf05 .typing:after{content:"\258c";display:inline-block;color:var(--cursor-color);animation:svelte-1ocmf05-cursorFade 1.25s infinite}.delay.svelte-1ocmf05{visibility:hidden}
